<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>OneShop || Sắp ra mắt</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/web/assets/images/favicon.png}">

    <link rel="stylesheet" th:href="@{/web/assets/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/web/assets/css/style.min.css}">
</head>
<body>
    <div class="comming-soon-area">
        <div class="row align-items-center">
            <div class="col-xl-4 col-lg-6">
                <div class="comming-soon-banner bg_image bg_image--13"></div>
            </div>
            <div class="col-lg-5 offset-xl-1">
                <div class="comming-soon-content">
                    <div class="brand-logo">
                        <img th:src="@{/web/assets/images/logo/logo-large.png}" alt="Logo">
                    </div>
                    <h2 class="title">Trang web mới của chúng tôi sắp ra mắt</h2>
                    <p>Chúng tôi đang làm việc chăm chỉ để mang đến cho bạn <br>trải nghiệm tốt nhất.</p>
                    <div class="coming-countdown countdown"></div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/web/assets/js/vendor/modernizr.min.js}"></script>
    <script th:src="@{/web/assets/js/main.js}"></script>
</body>
</html>